<header class="header">
  <nav class="navbar container">
    <a href="#" class="logo">
      <img src="./images/logo.png" alt="" class="logo__img" />
    </a>
    <ul class="navbar__list">
      <li class="navbar__link">
        <a href="#" class="navbar__list--item">Modellen</a>
      </li>
      <li class="navbar__link">
        <a href="#" class="navbar__list--item">Kopen</a>
      </li>
      <li class="navbar__link">
        <a href="#" class="navbar__list--item">Huren</a>
      </li>
      <li class="navbar__link">
        <a href="#" class="navbar__list--item">Nieuws</a>
      </li>

      <button class="navbar__list--btn" type="button">Contact</button>
    </ul>
  </nav>
</header>
