<section class="intro">
  <div class="intro__wrapper--content container">
    <h2>Duurzame materialen</h2>
    <p>
      Alle EcoCabins hebben een hoge isolatiewaarde, worden geproduceerd met
      indien mogelijk duurzame en/of natuurlijke materialen en hebben als
      opvallende uiterlijke kenmerk de ‘ronde hoeken’, mogelijk gemaakt door het
      specifieke materiaalgebruik. De voordelen van bouwen met hout zijn legio:
      hout is licht, flexibel, isoleert goed en bouwt snel en efficiënt.
    </p>
    <button type="button">Lees meer</button>
  </div>

  <div class="intro__swiper">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/beams.png" alt="beams" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home.png" alt="beams" />
        </div>
        <div class="swiper-slide">
          <img src="./images/beams.png" alt="beams" />
        </div>
        ...
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
