<section class="usp">
  <div class="usp__wrapper container">
    <img src="./images/home.png" alt="" />
  </div>
  <div class="usp__content">
    <ul class="usp__list">
      <li class="usp__list--link">
        <h2>Hout</h2>
        <p>
          De draagconstructies van EcoCabins bestaan uit hout. Hout is duurzaam
          en.
        </p>
      </li>
      <li class="usp__list--link">
        <h2>Glaswol isolatie</h2>
        <p>
          De combinatie van glaswol met een houtskelet constructie geeft een.
        </p>
      </li>
      <li class="usp__list--link">
        <h2>Afwerking</h2>
        <p>
          De draagconstructies van EcoCabins bestaan uit hout. Hout is duurzaam
          en.
        </p>
      </li>
      <li class="usp__list--link">
        <h2>Triple glas</h2>
        <p>
          De combinatie van glaswol met een houtskelet constructie geeft een.
        </p>
      </li>
      <li class="usp__list--link">
        <h2>Stalen onderstel</h2>
        <p>
          Het stalen onderstel is sterk zijn en heeft de benodigde stijfheid die
        </p>
      </li>
      <li class="usp__list--link">
        <h2>Infrarood vloer</h2>
        <p>
          De vloer wordt opgewarmd middels opgewekte warmte uit eigen
          zonne-energie.
        </p>
      </li>
    </ul>
  </div>
</section>
